<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-2">
    <label>{{ "Dashboard.select" | translate }}</label>
  </div>
  <div class="col-md-1">
    <select
      #langSelect
      class="form-select"
      (change)="translate.use(langSelect.value)"
    >
      <option
        *ngFor="let lang of translate.getLangs()"
        [value]="lang"
        [selected]="lang === translate.currentLang"
      >
        {{ lang }}
      </option>
    </select>
  </div>
  <div class="col-md-1">
    <button class="btn btn-danger" type="button" (click)="logout()">
      {{ "Button.Logout" | translate }}
    </button>
  </div>
</div>
