<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 table-shadow p-3 mb-5 bg-body">
      <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
        <h2>{{ "Login.Title" | translate }}</h2>
        <a routerLink="/register">{{ "Login.RegisterLink" | translate }}</a>
        <div class="row">
          <div class="form-goup mt-4">
            <input
              class="form-control"
              type="email"
              formControlName="email"
              placeholder="{{ 'Email.PlaceHolder' | translate }}"
              ngModel
              [email]="true"
              [class.is-invalid]="
                this.loginForm.controls.email.invalid &&
                this.loginForm.controls.email.dirty
              "
            />
            <small
              class="text-danger float-start"
              *ngIf="
                this.loginForm.controls.email.invalid &&
                this.loginForm.controls.email.dirty
              "
              >{{ "Error.Email" | translate }}</small
            >
          </div>
          <div class="form-goup mt-4">
            <input
              class="form-control"
              type="password"
              formControlName="password"
              placeholder="{{ 'Password.PlaceHolder' | translate }}"
              [class.is-invalid]="
                this.loginForm.controls.password.invalid &&
                this.loginForm.controls.password.dirty
              "
            />
            <small
              class="text-danger float-start"
              *ngIf="
                this.loginForm.controls.password.invalid &&
                this.loginForm.controls.password.dirty
              "
              >{{ "Error.Password" | translate }}</small
            >
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <a href="#" class="float-start">{{
            "Login.ForgotPassword" | translate
          }}</a>
        </div>
        <div class="form-goup mt-3">
          <button
            [disabled]="this.loginForm.invalid"
            type="submit"
            class="btn btn-secondary mt-3"
          >
            {{ "Button.Login" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
